
*,*:before,*:after{padding:0;margin:0;border:none;}

/*@font-face {
    font-family: minhafonte;
    src: url(../fonts/sourcesans.woff);
}*/
body{
   font-family: 'trebuchet ms', 'PT Sans', sans-serif;
   /*font-family: minhafonte;*/
    background-image: url(../img/bg3.png);
    color: #444;
}

h1{font-size:2.2em;font-weight:normal;}
h2{font-size:1.8em;font-weight:normal;}
h3{font-size:1.4em;font-weight:normal;}
h4{font-size:1.2em;font-weight:normal;}
h5{font-size:1em;font-weight:normal;}
h6{font-size:0.8em;font-weight:normal;}

#container {
    width:100%;
    height:auto;
    display:table;
    box-sizing: border-box;
}

#topo {
    width:100%;
    height:50px;
    float:left;
    position: fixed;
    z-index: 10;
    background: linear-gradient(#FEFEFE,#DDD);
    background: -webkit-linear-gradient(#FEFEFE,#DDD);
    background: -moz-linear-gradient(#FEFEFE,#DDD);
    background: -o-linear-gradient(#FEFEFE,#DDD);
    border-bottom:1px solid #bbb;
}

#main_title {
    width:55%;
    height: 50px;
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo_area{ width:25%;height: 50px;float:left; }

.logo { display: table; box-sizing: border-box; padding: 2px; margin: auto; margin-top: 5px; }
.logo img { width: 30px;height: 36px; }

/*-----MENU-----*/
#ico_menu_mobile{ width:20%; height: 50px; float:left; }
#ico_menu_mobile img{ height: 28px; margin-right:7px; margin-top:11px; float:right; }

#main_title h1{
    font-size: 1.2em;
    color:#666;
    font-weight: bold;
    text-align: center;
}

#fundo_total{
    width:100%;
    height:100%;
    position: fixed;
    float:left;
    z-index:8;
    top: 50px;
    left:0;
    background-color: rgba(10,10,10,0.8);
    display:none;
}

#main_menu{
    width: 85%;
    min-height: 100%;
    background: #F0F0F0;
    position: fixed;
    z-index: 9;
    top:51px;
    border-right:1px solid #bbb;
    display: none;
}

#main_menu a{
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    color: #666;
    display: block;
    padding: 13px 0;
    border-bottom: 1px solid #ddd;
}

#main_menu a:hover{ color: #101010; background: #eaeaea;}

/*PRINCIPAL*/
#principal {
    width: 94%;
    height: auto;
    margin:85px 3% 0 3%; /* a margin-top é baseada na altura do topo + 10px*/
    float:left;
}
.header_walk_links{
    width:100%;
    margin: 8px 0;
    padding: 8px 10px;
    font-size: 0.75em;
    float:left;
    background: #fff;
    color: #444;
    border:1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
}
.widget{
    width:100%;
    min-height: 200px;
    background: #fff;
    color: #444;
    margin: 8px 0;
    float:left;
    background: #fff;
    border:1px solid #bbb;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
}
.widget_content{
    width:100%;
    font-size: 0.75em;
    box-sizing: border-box;
    float:left;
    padding: 5px 10px;
}

.widget_header{
    width:100%;
    font-size: 1em;
    background: linear-gradient(#fefefe,#dedede);
    background: -moz-linear-gradient(#fefefe,#dedede);
    background: -o-linear-gradient(#fefefe,#dedede);
    background: -webkit-linear-gradient(#fefefe,#dedede);
    color: #444;
    float:left;
    box-sizing: border-box;
    padding: 9px 10px;
    margin-bottom:8px;
    border-bottom:1px solid #bbb;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/*BOX*/
.col_2{width: 100%;margin-right:0;}
.col_3{width: 100%;margin-right:0;}
.col_4{width: 100%;margin-right:0;}
.box{width: auto; float: left;}
.box_line{float: left; width: 100%;}


/*menu drop down*/
.ico{width:20px;height:18px;float:left;margin-right: 8px;}
.ico-dropdown{width:9px;margin-left:10px;}
.active a{color: #101010 !important; background: #e3e3e3 !important;}
.menu_dropdown a{
    background-color: #eaeaea !important;
    font-weight: bold !important;
    font-size: 0.7em !important;
    color: #666 !important;
    display: block;
    padding: 14px 0 !important;
    border-bottom: 1px solid #DDD !important;
}
.menu_dropdown a:hover{
     color: #101010 !important;
     border-left:6px solid #AAA;
}
.dropdown ul{
    display:none;
}

.active ul { display: block; }

/*---- MENSAGENS DE ALERTA ----*/
.alert{
    width: 98%;
    margin: 5px 0;
    float:left;
    font-size: 1.1em;
    padding:13px 1%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}
.alert b{
    font-size: 1.2em;
}
.alert-info{background-color: rgba(115, 179, 204, 0.6); color: #2F7894; }
.alert-danger{background-color: rgba(214, 121, 121, 0.6); color: #8C2525;}
.alert-warning{background-color: rgba(237, 237, 85, 0.6); color: #959514; }
.alert-success{background-color: rgba(138, 205, 135, 0.6); color: #146510; } /*#8ACD87*/

/*---- BOX INFORMATIVOS ----*/
.box-info, .box-info-danger, .box-info-warning, .box-info-success{
    width: 100%;
    background: linear-gradient(#73B3CC,#70b2cf);
    padding: 18px 12px;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 8px 0;
    float: left;
    text-shadow: 0.4px 0.4px 0.2px #888;
    -webkit-text-shadow: 0.4px 0.4px 0.2px #888;
    -moz-text-shadow: 0.4px 0.4px 0.2px #888;
    -o-text-shadow: 0.4px 0.4px 0.2px #888;
}
.box-info-success{
    background: linear-gradient(#80C18E,#80C98E);
}

.box-info-danger{
    background: linear-gradient(#D67979,#D4787c);
}

.box-info-warning{
    background: linear-gradient(#EDED55,#EbEC5B);
}

.box-info-title{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin: 8px 0;
}
.box-info-img{
    width: 100%;
}
.box-info-img img{
    width: 28px;
    margin-left: 50%;
    position: relative;
    left: -15px;
}
.box-info-cont{
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
}

/*---- RODAPÉ ----*/
#rodape{
    width:100%;
    float:left;
    text-align: center;
    font-size: 0.9em;
    padding: 12px 0;
    margin-bottom: 8px;
}

/*---- LOGIN ----*/
.area_login{
    width:90%;
    max-width:450px;
    min-width: 290px;
    min-height:300px;
    background: #fff;
    margin:auto;
    display: table;
    border-radius:6px;
    -webkit-border-radius:6px;
    -o-border-radius:6px;
    -moz-border-radius:6px;
    border: 1px solid #CCC;
    box-sizing: border-box;
    box-shadow: 1px 1px 6px #CCC;
    margin-top:15%;
    margin-bottom: 25px;
}
.area_login_title{
    width:100%;
    padding: 15px 10px;
    box-sizing: border-box;
    border-bottom: 1px dotted #CCC;
    margin-bottom: 15px;
}
.area_msg{
    width:100%;
    min-height:0px;
    margin-bottom:10px;
    margin-top:10px;
}
#recuperar_senha{margin:auto;max-width:450px;min-width: 290px;text-align: center;}
    
#recuperar_senha a{color:#333;text-decoration: underline;}
#recuperar_senha a:hover{color:#666;}
/*---- HELPERS ----*/
.margin_zero{margin:0 !important;}
.clear{clear:both !important;}
.last{margin-right: 0 !important;}
.width_full{width:100% !important;}
.border_radius{border-radius:6px;-o-border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;}
.text_shadow{text-shadow: 0.4px 0.4px 0.2px #888;-webkit-text-shadow: 0.4px 0.4px 0.2px #888;-moz-text-shadow: 0.4px 0.4px 0.2px #888;-o-text-shadow: 0.4px 0.4px 0.2px #888;}
.box_shadow{box-shadow: 3px 3px 5px #CCC;-webkit-box-shadow: 3px 3px 5px #CCC;-moz-box-shadow: 3px 3px 5px #CCC;-o-box-shadow: 3px 3px 5px #CCC;}

/*FONT WEIGHT*/
.font_thin{font-weight: 100 !important;}
.font_light{font-weight: 300 !important;}
.font_normal{font-weight: 400 !important;}
.font_bold{font-weight: 700 !important;}

/*FONT SIZE*/
.font_zero{font-size:0 !important;}
.font_size1{font-size: 1em;}
.font_size1b{font-size: 1.5em;}
.font_size2{font-size: 2em;}
.font_size2b{font-size: 2.5em;}
.font_size3{font-size: 3em;}
.font_size3b{font-size: 3.5em;}

/*TEXT ALIGN*/
.text_center{text-align: center !important;}
.text_right{text-align: right !important;}
.text_left{text-align: left !important;}

/*FLOAT*/
.float_left{float:left !important;}
.float_right{float:right !important;}
.float_none{float:none !important;}

/*DISPLAY*/
.display_block{display: block;}
.display_inblock{display: inline-block;}
.display_inline{display: inline;}
.display_none{display: none;}

/*VIDEO*/
.video{width: 100%; margin: 0;}
.video_small{width: 40%; margin: 0 30%;}
.video_medium{width: 60%; margin: 0 20%;}
.video_large{width: 80%; margin: 0 10%;}

/*BOTÕES*/
.btn{
    cursor: pointer;
    display: inline-block;
    background: linear-gradient(#efefef,#dcdcdc);
    background: -webkit-linear-gradient(#efefef,#dcdcdc);
    background: -moz-linear-gradient(#efefef,#dcdcdc);
    background: -o-linear-gradient(#efefef,#dcdcdc);
    box-shadow: inset 0 1px rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.11);
    -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.11);
    -moz-box-shadow: inset 0 1px rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.11);
    -o-box-shadow: inset 0 1px rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.11);
    font-size: 1.2em;
    text-decoration: none;
    color:#000;
    padding:12px 18px;
    float: left;
    border:1px solid #C2C2C2;
    border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    -moz-border-radius:4px;
    margin:0 6px 6px 6px;
}
.btn:hover{background: #eaeaea; }

.btn-primary{background: linear-gradient(#3C4C5B,#263849);background: -webkit-linear-gradient(#3C4C5B,#263849);background: -moz-linear-gradient(#3C4C5B,#263849);background: -o-linear-gradient(#3C4C5B,#263849);border: 1px solid #172B3E;color: #FFF;}
.btn-primary:hover{background: #3C4C5B;}

.btn-success{background: linear-gradient(#6C9A67,#4C7947);background: -webkit-linear-gradient(#6C9A67,#4C7947);background: -moz-linear-gradient(#6C9A67,#4C7947);background: -o-linear-gradient(#6C9A67,#4C7947);border: 1px solid #1D4B18;color: #FFF;}
.btn-success:hover{background: #6C9A67;}

.btn-danger{background: linear-gradient(#D16E6E,#A83D3D);background: -webkit-linear-gradient(#D16E6E,#A83D3D);background: -moz-linear-gradient(#D16E6E,#A83D3D);background: -o-linear-gradient(#D16E6E,#A83D3D);border: 1px solid #5B0606;color: #FFF;}
.btn-danger:hover{background: #D16E6E;}

.btn-warning{background: linear-gradient(#D6D586,#AEAD53);background: -webkit-linear-gradient(#D6D586,#AEAD53);background: -moz-linear-gradient(#D6D586,#AEAD53);background: -o-linear-gradient(#D6D586,#AEAD53);border: 1px solid #6E6D1A;color: #FFF;}
.btn-warning:hover{background: #AEAD53;}

/*Tamanhos dos botões*/
.btn-mini{padding: 3px 6px;}
.btn-small{padding: 6px 12px;}
.btn-large{padding: 18px 24px;}


/*MEDIA QUERIES*/
@media screen and (min-width: 321px){
    
}
@media screen and (min-width: 481px){
   
}
@media screen and (min-width: 768px){
    #main_title h1{
        font-size: 1.3em;
    }
    #ico_menu_mobile{
        display: none;
    }
    #main_menu{
        display: block;
        width:30%;
        margin:0;
        float:left;
    }
    #main_menu a{
        padding: 18px 0;
    }
    #principal{
        width:68%;
        float:right;
        margin:0;
        margin-right: 10px;
        position:relative;
        top:50px;
    }
    .box-info, .box-info-danger, .box-info-warning, .box-info-success{
        width:46%;
        margin:5px 2%;
        min-width: 240px;
    }
    #rodape{
        width:68%;
        float:right;
        position:relative;
        top:75px;
    }
    .last{margin-right: 2%;}
    .col_2{width: 50%;}
    .col_3{width: 50%;}
    .col_4{width: 50%;}
}
@media screen and (min-width: 900px){
    #main_menu{
        width:21%;
    }
    #principal{
        width:77.5%;
    }
    #rodape{
        width:77.5%;
    }
    .box-info, .box-info-danger, .box-info-warning, .box-info-success{
        width:32%;
        margin:5px 0;
        margin-left:0.89%;
    }
    .col_2{width: 49%;margin-right: 1%;}
    .col_3{width: 32%;margin-right: 2%;}
    .col_4{width: 23.5%;margin-right: 2%;}
}
