.table_area{
    width: 100%;
    max-width: 300px;
    overflow-x: auto;
    margin:auto;
    padding:10px 0 20px 0;
}

.table{
    width:100%;
    min-width:700px;
    border-collapse: collapse;
    border:1px solid #ccc;
}

.table tr{ background: #fff;  border-bottom: 1px solid #bbb;}
.table tr:nth-child(2n+1){ background: #f5f5f5;}
.table tr:hover{background: #eee;}

.table th{
    font-size: 1em;
    background: linear-gradient(#fefefe,#dedede);
    background: -moz-linear-gradient(#fefefe,#dedede);
    background: -o-linear-gradient(#fefefe,#dedede);
    background: -webkit-linear-gradient(#fefefe,#dedede);
    color: #444;
    box-sizing: border-box;
    padding: 10px 10px;
    margin-bottom: 8px;
    border: 1px solid #bbb;
}

.table_secundary th{
    background: linear-gradient(#3C4C5B,#263849);
    background: -webkit-linear-gradient(#3C4C5B,#263849);
    background: -o-linear-gradient(#3C4C5B,#263849);
    background: -moz-linear-gradient(#3C4C5B,#263849);
    color: #fff;
}

.table td{
    font-size:0.9em;
    text-align:center;
    border-right:1px solid #bbb;
    padding: 6px 4px;
}

.table_action{
    width:32px;
    height:25px;
    background: -webkit-linear-gradient(top,#efefef, #dfdfdf);
    background: -o-linear-gradient(top,#efefef, #dfdfdf);
    background: -moz-linear-gradient(top,#efefef, #dfdfdf);
    background: linear-gradient(top,#efefef, #dfdfdf);
    text-decoration:none;
    display:inline-block;
    border-bottom:solid 1px #999;
    border-left:solid 1px #ccc;
    border-top:solid 1px #ccc;
    border-right:solid 1px #ccc;
    border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    -moz-border-radius:4px;
    margin-left:5px;
}

.table_action:hover{
    background: #dcdcdc;
    border-bottom:solid 1px #bbb;
    border-left:solid 1px #bbb;
}

.table_action img{
    width:15px;
    height:14px;
    margin-top:5px;
}

@media (min-width:320px) { .table_area{ max-width: 300px; } }
@media (min-width:480px) { .table_area{ max-width: 460px; } }
@media (min-width:600px) { .table_area{ max-width: 580px; } }
@media (min-width:801px) { .table_area{ max-width: none; } }
